<Project>

  <PropertyGroup>
    <!-- Set if the default steam game install directory doesn't work. -->
    <!-- <GameRootDir></GameRootDir> -->
    <!-- Set if your BepInEx/plugins/ directory isn't in the game files. -->
    <!-- <GamePluginsDir></GamePluginsDir> -->
	<!-- <TS_API_TOKEN></TS_API_TOKEN>-->
	<!-- This is your private thunderstore publishing token, do not share with others. 
	Will allow for publishing directly to thunderstore from command line -->
  </PropertyGroup>

  <Target Name="DeployFiles" AfterTargets="Build">
    <Message Text="Deploy → $(GamePluginsDir)$(AssemblyName).dll" Importance="High" />
    <Error Text="Plugins directory '$(GamePluginsDir)' doesn't exist!" Condition="!Exists('$(GamePluginsDir)')" />
    <Copy SourceFiles="$(TargetPath)" DestinationFolder="$(GamePluginsDir)" />
  </Target>

</Project>
